@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Public Sans", sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: rgba(255, 255, 255, 0.2) #4d7afe;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0);
}
/*  */

/*  */
.cls-1 {
  fill: transparent;
}
.cls-2 {
  fill: #fff;
}
/*  */

@layer components {
  /* add h-screen when active */
  .nav {
    @apply fixed flex flex-col w-full p-2 px-4 md:justify-between md:items-center md:h-16 md:flex-row md:px-60;
  }

  .container {
    @apply flex flex-row items-center justify-between h-12 md:h-full;
  }

  .menu {
    @apply relative flex flex-col justify-between w-6 h-6 p-1 overflow-hidden md:hidden;
  }

  .nav-list {
    @apply flex-col h-full pt-8 md:pt-0 md:items-center md:h-12 md:flex-row;
  }

  .nav-list .active {
    @apply md:border-panther-purple md:hover:border-panther-purple;
  }

  .nav-list-item {
    @apply flex flex-row justify-end h-12 border-b-2 border-transparent md:items-center md:px-4 md:ml-5 md:hover:border-zinc-700;
  }

  .bars {
    @apply block w-[18px] h-[2px] bg-white rounded-md;
  }

  .menu .active .bars:nth-child(1) {
    @apply absolute rotate-45 -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2;
  }

  .menu .active .bars:nth-child(2) {
    @apply hidden;
  }

  .menu .active .bars:nth-child(3) {
    @apply absolute -rotate-45 -translate-x-1/2 -translate-y-1/2 left-1/2 top-1/2;
  }
  .about__image {
    @apply my-10 md:my-0 w-full h-[500px] md:h-full mr-10 bg-white bg-top bg-cover md:bg-center rounded-2xl md:w-1/2 md:hover:drop-shadow-[0_0_0_rgba(123,97,255,1)] md:drop-shadow-[-12px_12px_0_rgba(123,97,255,1)] duration-300;
  }
  .about__hero__text {
    @apply mb-4 text-4xl font-bold leading-10 tracking-tighter text-panther-purple;
  }
}

.hero-text {
  background: linear-gradient(
    92.63deg,
    #f05424,
    #ff00a8,
    #fbbc04,
    #f24118,
    #34a853,
    #1877f2,
    #f05424
  );
  background-size: 800%;
  animation: special-text-animation 20s linear;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes special-text-animation {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 800%;
  }
}

.about__image {
  background-image: url(./assets/images/image\ 28.jpg);
}
